//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';
$light-gray: #ededed;
$gray: #a8a8a8;
$blue: #219ed8;
$dark-blue: #1f2673;
$yellow: #f2b713;
